## Question 1
What's the version of NumPy that you installed?

In [1]:
import numpy as np
np.__version__

'1.20.3'

## Question 2
What's the version of Pandas?

In [2]:
import pandas as pd
pd.__version__

'1.3.2'

In [3]:
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 3
What's the average price of BMW cars in the dataset?

In [4]:
df[df['Make'] == 'BMW'].MSRP.mean()

61546.76347305389

## Question 4
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [5]:
df[df['Year'] >= 2015]['Engine HP'].isnull().sum()

51

## Question 5
Calculate the average "Engine HP" in the dataset.

In [6]:
avg_engine_hp = df['Engine HP'].mean()
round(avg_engine_hp)

249

Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.

In [7]:
df['Engine HP'].isnull().sum()

69

In [8]:
df['Engine HP'] = df['Engine HP'].fillna(avg_engine_hp)
df['Engine HP'].isnull().sum()

0

Now, calcualte the average of "Engine HP" again. Has it changed?

In [9]:
round(df['Engine HP'].mean())

249

## Question 6
- Select all the "Rolls-Royce" cars from the dataset.
- Select only the columns "Engine HP", "Engine Cylinders", "highway MPG".
- Drop all duplicated rows using drop_duplicates method.

In [10]:
subdf = df[df['Make'] == 'Rolls-Royce'][['Engine HP', 'Engine Cylinders', 'highway MPG']].drop_duplicates()
subdf

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- What's the sum of all the elements of the result?

In [11]:
X = subdf.values
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

0.032212320677486195

## Question 7
- Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the first element of w?

In [12]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = XTX_inv.dot(X.T).dot(y)
w[0]

0.19989598183186175